<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>{{title}}</title>
</head>
<body>
    <header class="header">
        <h1 ><a  class="header__link" href="{{url_for('index')}}" >Habits</a></h1>
        {% if "add" not in request.endpoint  %}
        <p ><a class="header__link" href="{{url_for('add_habit')}}"> + new habit</a></p>
        {% endif %}
    </header>
    <main class="main">
        <section class="dates">
    {% for date in date_range(selected_date) %}
    <a class="dates__link {{ 'dates__link--current' if loop.index0 == 3 else ''}}" href="{{url_for('index', date=date)}}">
        <time class="date" datetime="{{ date }}">
            <span>{{date.strftime("%a")}}</span>
            <span>{{date.strftime("%d")}}</span>
        </time>
    </a>
    {% endfor %}
</section>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>